.newCredential-show {
    width: 100%;
    display: flex;
    font-family: Roboto;
    align-items: center;
    text-align: left;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 15px;
}

.newCredential-hidden {
    display: flex;
    width: 100%;
    font-family: Roboto;
    text-align: left;
    margin-bottom: 5px;
}

.newCredential-message {
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 33%;
    color: rgba(231, 76, 60,1.0);
    text-align: center;
}

.newCredential-message a:-webkit-any-link{
    text-decoration:none;
    cursor: pointer;
    color: green;
}

.newCredential-message a:-webkit-any-link:hover{
    text-decoration:underline;
}
