#dashboard .flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: stretch;
  align-items: center;
}


#dashboard .flex-item:nth-child(1) {
  flex: 0 0 auto;
  align-self: auto;
}

#dashboard .flex-item:nth-child(2) {
  flex: 0.4 1 auto;
  align-self: auto;
}

#dashboard .flex-item:nth-child(3) {
  flex: 0 0 auto;
  align-self: auto;
}


#main {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* overflow-y: auto; */
  min-height: 100vh;
  padding: 10px;
  will-change: left;
  transition: all 0.15s linear;

  margin-top: 3em;
  padding-bottom: 3em;
}

#main.toggled {
  left: 220px;
}

.forum-error {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 33%;
    color: rgba(231, 76, 60,1.0);
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}
