/*#sidebar*/
#sidebar {
    position: fixed;

    top: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    left: -220px;
    width: 220px;
    overflow-y: auto;
    background: #fcfcfc;
    border: 0;
    min-height: 100vh;
    will-change: left;
    transition: all 0.15s linear;

    display:block;
    /* overflow:hidden; */
    margin-top: 3em;
    padding-bottom: 2em;
}

#sidebar.toggled {
    left: 0;
}

/*#nav*/
#nav-top {
    margin-top: 0.5em;
    /* margin-bottom: 10px; */
}

#nav-top .icon-notification {
    color: #bbb;
    background: #f9f9f9;
}

#nav-top .avatar {
    height: 36px;
    width: 36px;
}

#nav-top .ui.dropdown {
    margin-left: 10px;
}

#nav-top .ui.dropdown > .dropdown.icon {
    margin-left: 5px;
}

#nav-top .ui.dropdown .menu {
    left: auto;
    right: 0;
}

#menu-button {
    padding: 0;
    height: 30px;
    width: 30px;
    line-height: 30px;
    position: fixed;
    z-index: 1000;
}
