#nav-top {
  margin-top: 0.5em;
  /* margin-bottom: 10px; */
}

#nav-top .icon-notification {
  color: #bbb;
  background: #f9f9f9;
}

#nav-top .avatar {
  height: 36px;
  width: 36px;
}

#nav-top .ui.dropdown {
  margin-left: 10px;
}

#nav-top .ui.dropdown > .dropdown.icon {
  margin-left: 5px;
}

#nav-top .ui.dropdown .menu {
  left: auto;
  right: 0;
}

#menu-button {
  padding: 0;
  height: 30px;
  width: 30px;
  line-height: 30px;
  position: fixed;
  z-index: 1000;
}
