.logoContainer {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  margin-right: 10px !important;
  margin-left: -10px !important;
}

.logo {
  animation: logo-spin infinite 20s linear;
  height: 30px;
}

.logoTitle {
  font-size: 20px !important;
  font-weight: 700 !important;
  color: white;
  margin-left: 7px !important;
}

/* @keyframes logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */
