.credentialContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

.credential-list {
    width: 100% !important;
}

.credential-error {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 33%;
    color: rgba(231, 76, 60,1.0);
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}
