.app-layout {
    min-width: 700px;
    max-width: 1100px;
    margin: 5em auto;
}


/*.header-background {*/
    /*position: absolute;*/
    /*width: 100%;*/
    /*background-color: #222;*/
    /*height: 60px;*/
    /*z-index: -1;*/
/*}*/

/*以下是全局的修饰*/
.hidden {
    display: none;
}
