.headerContainer {
  background-color: #222;
  height: 3em;
  /* margin-bottom: 1px;
  border-bottom: 30px;
  padding-bottom: 30px; */
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;


}
